.error-msg {
    color: red;
    padding: 10px;
}

.fixd-header.an-navbar{
    position: fixed;
    top: 0;
    width: 100vw;
}

.am-tab-bar{
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 50px;
}

.am-card-header-content>img{
    width: 30px;
    height: 30px;
}